@(mastersStudentForm: Form[MastersStudent])

@import views.html.helper._
@import views.html.helper.twitterBootstrap._

@main("Hệ Thống Quản Lý Luận Văn Cao Học") {
    <h1>Thông Tin Tài Khoản</h1>

    @if(MastersStudent.findByEmail(session().get("email")) != null) {
        <script>
            $(function(){
                $('select').attr('disabled', '');
                $('input#name').attr('readonly', '');
                $('input#course').attr('readonly', '');
                $('input#email').attr('readonly', '');
                $('input#birthday').attr('readonly', '');
            });
        </script>
    }

    <script>
        $(function(){
            $('.help-block').css('display', 'none');
        });
    </script>

    @form(CSRF(routes.MastersStudents.save())) {
        <input type="hidden" value="@mastersStudentForm("id").valueOr("")" name="id"/>
        <fieldset>
            <legend>Học Viên (@mastersStudentForm("name").valueOr("New"))</legend>
            <div class="row">
                <div class="col-xs-5">
                    @helper.inputText(mastersStudentForm("code"), '_label -> "Mã số *",
                        '_id -> "code",
                        'class -> "form-control")<br>
                    @helper.inputText(mastersStudentForm("name"), '_label -> "Họ tên *",
                        '_id -> "name",
                        'class -> "form-control")<br>
                    @helper.inputDate(mastersStudentForm("birthday"), '_label -> "Ngày sinh *",
                        '_id -> "birthdady",
                        'class -> "form-control",
                        'placeholder -> "YYYY-MM-DD")<br>
                    @helper.inputText(mastersStudentForm("address"), '_label -> "Địa chỉ *",
                        '_id -> "address",
                        'class -> "form-control")<br>
                </div>
                <div class="col-xs-5">
                    @helper.inputText(mastersStudentForm("phoneNumber"), '_label -> "Số điện thoại *",
                        '_id -> "phoneNumber",
                        'class -> "form-control digits")<br>
                    @helper.select(mastersStudentForm("faculty"),
                        options = options(MastersStudent.options()),
                        '_id -> "faculty",
                        '_label -> "Ngành *",
                        'class -> "form-control",
                        '_default -> "-- Chọn ngành --")<br>
                    @helper.inputText(mastersStudentForm("course"), '_label -> "Khóa *",
                        '_id -> "course",
                        'class -> "form-control")<br>
                    @helper.inputText(mastersStudentForm("email"), '_label -> "Địa chỉ Email *",
                        'type -> "email",
                        '_id -> "email",
                        'class -> "form-control")<br>
                </div>
            </div>
        </fieldset>
        <input type="submit" class="btn btn-primary" value="Lưu Lại">&nbsp;
        <input type="reset" class="btn btn-warning" value="Đặt Lại">
        hoặc
        <a class="btn btn-default" href="@routes.MastersStudents.list(0, "id", "asc", "")">Trở Lại</a>
        <br><br>
    }
}