@(mastersStudentForm: Form[MastersStudent])

@import views.html.helper._
@import views.html.helper.twitterBootstrap._

@main("Hệ Thống Quản Lý Luận Văn Cao Học") {
    <h1>Thông Tin Tài Khoản</h1>

    @if(UserAccount.findByEmail(session().get("email")).isMastersStudent()) {
        <script>
            $(function(){
                $('select').attr('disabled', '');
                $('input#name').attr('readonly', '');
                $('input#course').attr('readonly', '');
                $('input#email').attr('readonly', '');
                $('input#birthday').attr('readonly', '');
            });
        </script>
    }

    @form(CSRF(routes.MastersStudents.save())) {
        <input type="hidden" value="@mastersStudentForm("id").valueOr("")" name="id"/>
        <fieldset>
            <legend>Học Viên (@mastersStudentForm("name").valueOr("New"))</legend>
            <div class="row">
                <div class="col-xs-5">
                    @helper.inputText(mastersStudentForm("code"), '_label -> "Mã Số",
                        'type -> "code",
                        '_id -> "code",
                        'class -> "form-control",
                        '_help -> "")
                    @helper.inputText(mastersStudentForm("name"), '_label -> "Họ Tên",
                        'type -> "name",
                        '_id -> "name",
                        'class -> "form-control",
                        '_help -> "")
                    @helper.inputDate(mastersStudentForm("birthday"), '_label -> "Ngày Sinh",
                        'type -> "birthday",
                        '_id -> "birthdady",
                        'class -> "form-control",
                        '_help -> "",
                        'placeholder -> "YYYY-MM-DD")
                    @helper.inputText(mastersStudentForm("address"), '_label -> "Địa Chỉ",
                        'type -> "address",
                        '_id -> "address",
                        'class -> "form-control",
                        '_help -> "")
                </div>
                <div class="col-xs-5">
                    @helper.inputText(mastersStudentForm("phoneNumber"), '_label -> "Số Điện Thoại",
                        'type -> "phone-number",
                        '_id -> "phoneNumber",
                        'class -> "form-control",
                        '_help -> "")
                    @helper.select(mastersStudentForm("faculty"),
                        options = options(MastersStudent.options()),
                        '_id -> "faculty",
                        '_label -> "Ngành",
                        'class -> "form-control",
                        '_default -> "-- Chọn --",
                        '_help -> "")
                    @helper.inputText(mastersStudentForm("course"), '_label -> "Khóa",
                        'type -> "course",
                        '_id -> "course",
                        'class -> "form-control",
                        '_help -> "")
                    @helper.inputText(mastersStudentForm("email"), '_label -> "Địa chỉ Email",
                        'type -> "email",
                        '_id -> "email",
                        'class -> "form-control",
                        '_help -> "")
                </div>
            </div>
        </fieldset>
        <input type="submit" class="btn btn-primary" value="Lưu Lại"> hoặc
        <a class="btn btn-default" href="@routes.MastersStudents.list(0, "id", "asc", "")">Trở Lại</a>
        <br>
    }
}