@(mastersStudent: MastersStudent)

@main("Hệ Thống Quản Lý Luận Văn Cao Học") {
    <div class="container">
        <hr class=""/>
        <div class="row">
            <div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Hồ Sơ</h3>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3" align="center">
                                <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle">
                                <br><br><b>@mastersStudent.name</b>
                            </div>
                            <div class="col-md-9 col-lg-9">
                                <p><b>Thông tin về luận văn</b></p>
                                <table class="table table-user-ifnormation">
                                    <tbody>
                                    @if(mastersStudent.mastersThesis != null) {
                                        <tr>
                                            <td>Mã số luận văn</td>
                                            <td>@mastersStudent.mastersThesis.code</td>
                                        </tr>
                                        <tr>
                                            <td>Tên đề tài</td>
                                            <td>@mastersStudent.mastersThesis.name</td>
                                        </tr>
                                        <tr>
                                            <td>Mô tả ngắn gọn về đề tài</td>
                                            <td>@mastersStudent.mastersThesis.description</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>

                                <p><b>Thông tin cá nhân</b></p>
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>Địa chỉ</td>
                                            <td>@mastersStudent.address</td>
                                        </tr>
                                        <tr>
                                            <td>Số điện thoại</td>
                                            <td>@mastersStudent.phoneNumber</td>
                                        </tr>
                                        <tr>
                                            <td>Ngành</td>
                                            <td>@mastersStudent.faculty</td>
                                        </tr>
                                        <tr>
                                            <td>Khóa</td>
                                            <td>@mastersStudent.course</td>
                                        </tr>
                                        <tr>
                                            <td>Địa chỉ Email</td>
                                            <td>@mastersStudent.email</td>
                                        </tr>
                                        <tr>
                                            <td>Ngày sinh</td>
                                            <td>@mastersStudent.birthday.format("dd-MM-yyyy")</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                    </div>

                </div>
            </div>
        </div>
    </div>
}