@(facultyForm: Form[Faculty])

@import views.html.helper._
@import views.html.helper.twitterBootstrap._

@main("Hệ thống quản lý luận văn cao học") {
    <h1>Thông Tin Tài Khoản</h1>

    @if(Faculty.findByEmail(session().get("email")) != null) {
        <script>
            $(function(){
                $('input#name').attr('readonly', '');
                $('input#email').attr('readonly', '');
            });
        </script>
    }

    <script>
        $(function(){
            $('.help-block').css('display', 'none');
        });
    </script>

    @form(CSRF(routes.Faculties.save())) {
        <input type="hidden" value="@facultyForm("id").valueOr("")" name="id"/>
        <fieldset>
            <legend>Giảng Viên (@facultyForm("name").valueOr("New"))</legend>
            <div class="row">
                <div class="col-xs-5">
                    @helper.inputText(facultyForm("code"), '_label -> "Mã số *",
                        '_id -> "code",
                        'class -> "form-control")<br>
                    @helper.inputText(facultyForm("name"), '_label -> "Họ tên *",
                        '_id -> "name",
                        'class -> "form-control")<br>
                    @helper.select(facultyForm("degree"),
                    options = options(Faculty.optionsDegree()),
                    '_id -> "degree",
                    '_label -> "Chức danh",
                    'class -> "form-control",
                    '_default -> "-- Chọn chức danh --")<br>
                </div>
                <div class="col-xs-5">
                    @helper.inputText(facultyForm("address"), '_label -> "Địa chỉ",
                        '_id -> "address",
                        'class -> "form-control")<br>
                    @helper.inputText(facultyForm("email"), '_label -> "Địa chỉ Email *",
                        '_id -> "email",
                        'class -> "form-control",
                        'type -> "email")<br>
                    <label>Số điện thoại *</label><br>
                    <input type="phoneNumber" id="phoneNumber" name ="phoneNumber"
                    class="form-control" placeholder=""
                    value="@facultyForm("phoneNumber").value"><br>
                </div>
            </div>
        </fieldset>
        <input type="submit" class="btn btn-primary" value="Lưu giảng viên" id="save">&nbsp;
        <input type="reset" class="btn btn-warning" value="Đặt lại">
        hoặc
        <a class="btn btn-default" href="@routes.Faculties.list(0, "id", "asc", "")">Trở lại</a>
        <br><br>
    }

    <script>
    $("input[type=phoneNumber]").keyup(function(){

	var num = new RegExp("[0-9]+");

	if($("#phoneNumber").val().length > 0){
	    if(num.test($("#phoneNumber").val()) &&
	        ($("#phoneNumber").val().length == 10 || $("#phoneNumber").val().length == 11)){
		        $("#save").removeAttr("disabled");
	        }else{
		        $("#save").attr("disabled", "disabled");
	        }
	}else{
		$("#save").removeAttr("disabled");
	}
	});
	</script>

}