@(changePasswordForm: Form[Passwords.ChangePassword])

@main("Hệ thống quản lý luận văn cao học") {
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Cập nhật mật khẩu</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <p class="text-center">
                    Sử dụng mẫu dưới đây để thay đổi mật khẩu của bạn. Mật khẩu của bạn không thể giống như tên người dùng của bạn.</p>
                @helper.form(helper.CSRF(routes.Passwords.updatePassword())) {
					@helper.inputPassword(changePasswordForm("currentPassword"), '_label -> "",
						'class -> "input-lg form-control",
						'placeholder -> "Mật khẩu hiện tại",
						'autocomplete -> "off")
					@helper.inputPassword(changePasswordForm("newPassword"), '_label -> "",
						'id -> "password1",
						'class -> "input-lg form-control",
						'placeholder -> "Mật khẩu mới",
						'autocomplete -> "off")
                    <div class="row">
                        <div class="col-sm-6">
                            <span id="8char" class="glyphicon glyphicon-remove" style="color: #FF0004 ;"></span>
                            Dài tối thiểu 8 ký tự<br>
                            <span id="ucase" class="glyphicon glyphicon-remove" style="color: #FF0004 ;"></span>
                            Có ít nhất 1 ký tự in hoa
                        </div>
                        <div class="col-sm-6">
                            <span id="lcase" class="glyphicon glyphicon-remove" style="color: #FF0004 ;"></span>
                            Có ít nhất 1 ký tự in thường<br>
                            <span id="num" class="glyphicon glyphicon-remove" style="color: #FF0004 ;"></span>
                            Có chữ số
                        </div>
                    </div>
					@helper.inputPassword(changePasswordForm("confirmPassword"), '_label -> "",
						'id -> "password2",
						'class -> "input-lg form-control",
						'placeholder -> "Nhập lại mật khẩu",
						'autocomplete -> "off")
                    <div class="row">
                        <div class="col-sm-12">
                            <span id="pwmatch" class="glyphicon glyphicon-remove" style="color: #FF0004 ;"></span>
                            Mật khẩu phù hợp
                        </div>
                    </div>
                    <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg"
						data-loading-text="Đang cập nhật..." value="Cập nhật mật khẩu"
						id="ok" disabled="disabled">
                }
            </div>
        </div>
    </div>

    <script>
    $("dt>label").css("display", "none");

    $("input[type=password]").keyup(function(){
    var ucase = new RegExp("[A-Z]+");
	var lcase = new RegExp("[a-z]+");
	var num = new RegExp("[0-9]+");

	if($("#password1").val().length >= 8){
		$("#8char").removeClass("glyphicon-remove");
		$("#8char").addClass("glyphicon-ok");
		$("#8char").css("color","#00A41E");
		$("#ok").attr("disabled", "disabled");
	}else{
		$("#8char").removeClass("glyphicon-ok");
		$("#8char").addClass("glyphicon-remove");
		$("#8char").css("color","#FF0004");
		$("#ok").attr("disabled", "disabled");
	}

	if(ucase.test($("#password1").val())){
		$("#ucase").removeClass("glyphicon-remove");
		$("#ucase").addClass("glyphicon-ok");
		$("#ucase").css("color","#00A41E");
		$("#ok").attr("disabled", "disabled");
	}else{
		$("#ucase").removeClass("glyphicon-ok");
		$("#ucase").addClass("glyphicon-remove");
		$("#ucase").css("color","#FF0004");
		$("#ok").attr("disabled", "disabled");
	}

	if(lcase.test($("#password1").val())){
		$("#lcase").removeClass("glyphicon-remove");
		$("#lcase").addClass("glyphicon-ok");
		$("#lcase").css("color","#00A41E");
		$("#ok").attr("disabled", "disabled");
	}else{
		$("#lcase").removeClass("glyphicon-ok");
		$("#lcase").addClass("glyphicon-remove");
		$("#lcase").css("color","#FF0004");
		$("#ok").attr("disabled", "disabled");
	}

	if(num.test($("#password1").val())){
		$("#num").removeClass("glyphicon-remove");
		$("#num").addClass("glyphicon-ok");
		$("#num").css("color","#00A41E");
		$("#ok").attr("disabled", "disabled");
	}else{
		$("#num").removeClass("glyphicon-ok");
		$("#num").addClass("glyphicon-remove");
		$("#num").css("color","#FF0004");
		$("#ok").attr("disabled", "disabled");
	}

	if(($("#password1").val() == $("#password2").val()) &&
		$("#password1").val().length > 0){
		$("#pwmatch").removeClass("glyphicon-remove");
		$("#pwmatch").addClass("glyphicon-ok");
		$("#pwmatch").css("color","#00A41E");
		$("#ok").removeAttr("disabled");
	}else{
		$("#pwmatch").removeClass("glyphicon-ok");
		$("#pwmatch").addClass("glyphicon-remove");
		$("#pwmatch").css("color","#FF0004");
		$("#ok").attr("disabled", "disabled");
	}
	});
	</script>
}