@(forgotPassword: Form[Passwords.ForgotPassword])

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Hệ thống quản lý luận văn cao học</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <link href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" rel="stylesheet" media="screen">
        <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" media="screen">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/uet-icon.ico")">
    </head>

    <body>

        <div id="container">
            <div id="head">
            </div>

            <div id="body" style="padding-top: 100px;">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                                <img src="@routes.Assets.at("images/logoUET.png")" class="login" height="70">
                                <h3 class="text-center">Quên mật khẩu?</h3>
                                <p>Nếu bạn quên mật khẩu - Lấy lại tại đây.</p>
                                <div class="panel-body">
                                    @helper.form(helper.CSRF(routes.Passwords.resendPassword())) {
                                        <fieldset>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="glyphicon glyphicon-envelope color-blue"></i>
                                                    </span>
                                                    <input type="email" required="required" name="email"
                                                    class="form-control" placeholder="Địa chỉ email"
                                                    oninvalid="setCustomValidity('Vui lòng ghi đúng địa chỉ email!')"
                                                    onchange="try{setCustomValidity('')}catch(e){}"
                                                    value="@forgotPassword("email").value">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input class="btn btn-lg btn-primary btn-block" value="Gửi mật khẩu"
                                                    type="submit">
                                            </div>
                                        </fieldset>
                                    }
                                    <a href="@routes.Application.index()" class="btn btn-info">
                                        Trang chủ
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="footer">
                <footer class="container-fluid">
                    <div class="row" style="height: 100px; background: #3572B0; border-top: 2px solid #3572B0;">
                        <div class="col-md-4 col-md-offset-4" style="margin-top: 30px; font-size: 12px; text-align: center; color: white;">
                            Hệ Thống Quản Lý Luận Văn Cao học <br>
                            © 2015 All Rights Reserved - Thiết Kế Và Phát Triển Bởi SE Team
                        </div>
                    </div>
                </footer>
            </div>

        </div>
    </body>
</html>