@()

@main("Master's Thesis Maanagement System") {
    <div id="container-fluid">

        <div class="container-fluid" style="color: #EEEEEE; margin-bottom: 50px">
            <div class="row">
                <div class="col-md-12" style="font-family: Arial, Helvetica, sans-serif;
                background: #3572B0;
                display: block;
                overflow: hidden;
                letter-spacing: 0.5px;
                font-size: 14px;
                line-height: 20px;
                color: #ffffff;
                ">
                    <span><b>University of Engineering and Technology</b></span>
                </div>
            </div>

            <style type="text/css">
            .agency-gird{
            vertical-align: middle;
            margin: 3px 2px 1px 1px;
            padding: 0;
            display: inline-block;
            width: 34px;
            height: 34px;
            }
            </style>
            <div class="row" style="background: #205081; color: #EEEEEE;">
                <div class="col-md-12" style="height: 42px;">
                    <div class="pull-right" style="margin-right: 30px;">
                        <span style="padding-right: 8px ; vertical-align: text-top; font-size: 12px ;">
                            SE Team Member</span>
                        <img class="agency-gird" alt="ser" title="ser" src="@routes.Assets.at("assets/images/SER6.jpg")"/>
                        <img class="agency-gird" alt="ser" title="ser" src="@routes.Assets.at("assets/images/SER2.jpg")"/>
                        <img class="agency-gird" alt="ser" title="ser" src="@routes.Assets.at("assets/images/SER3.jpg")"/>
                        <img class="agency-gird" alt="ser" title="ser" src="@routes.Assets.at("assets/images/SER4.jpg")"/>
                        <img class="agency-gird" alt="ser" title="ser" src="@routes.Assets.at("assets/images/SER5.jpg")"/>
                        <img class="agency-gird" alt="ser" title="ser" src="@routes.Assets.at("assets/images/SER1.jpg")"/>
                        <img class="agency-gird" alt="ser" title="ser" src="@routes.Assets.at("assets/images/SER7.jpg")"/>
                    </div>
                </div>
            </div>
                <!--
            <div class="row" style="height: 70px; background: url(assets/images/header_overlay.png) #493054;">
                <div class="col-md-12"></div>
                <div style="margin-left: 185px; padding-left: 135px; height: 110px; width: 410px; background: url(assets/images/selogo.png) #4C3457; z-index: 99; position : relative; border: 1px solid #3F254B">
                    <span style="padding-left: 30px; font-family: Courier, monospace; font-size: 60px; text-shadow: 2px 2px gray; font-weight: bold; line-height: 120%">T M S</span>
                    <br>
                    <span style="margin-bottom: 5px; padding-left: 15px; font-family: Comic Sans, Comic Sans MS, cursive; font-size:16px; color: #FE312C;">Thesis Management System</span>
                </div>
            </div>
            -->

            <style type="text/css">
            .headertext{
            margin: 0;
            margin-left: 5px;
            padding: 0;
            font-family: Times New Roman, serif;
            font-size: 49px;
            text-shadow: 2px 2px gray;
            font-weight: bold;
            line-height: 120%;
            display: inline-block;
            }
            .headertext::first-letter{
            font-family: Courier, monospace;
            font-size: 70px;
            }
            </style>
            <div class="row" style="display: block; height: 120px; background: #3572B0; border-top: 1px solid #3572B0; border-bottom: 1px solid #3572B0;">
                <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-1 col-sx-12">
                    <div style="margin-top: 15px; height: 80px; width: 850px;">
                        <span class="headertext">
                            Master's Thesis Management System
                        </span>
                    </div>
                </div>
            </div>

        </div>

        <div class="container">
            <div class="row ">
                <div class="col-md-6 col-sm-10 col-xs-12">
                @indexnotice("Notifications")("" +
                        "SE Team: Bùi Minh Phong - Lục Văn Minh - Nguyễn Đức Sơn - " +
                        "Trương Thị Hồng Nhung - Trần Thị Hồng Thủy - " +
                        "Kiều Văn Thái - Nguyễn Văn Thịnh")
                </div>
                <div class="col-md-4 col-md-offset-1 col-sm-10 col-xs-12">
                @loginform());
                </div>

            </div>
        </div>

            <!--
        <div class="container-fluid">
            <div class="row">
            </div>
        </div>
        -->

        <footer class="container-fluid">
            <div class="row" style="height: 100px; background: #3572B0; border-top: 2px solid #3572B0;">
                <div class="col-md-4 col-md-offset-4" style="margin-top: 30px; font-size: 12px; text-align: center; color: white">
                    © 2015 Master's Thesis Management System – All Rights Reserved<br>
                    Developed By SE Team - Software Engineering
                </div>
            </div>
        </footer>

    </div>
}