@(title: String = "SE Team")(content: String = "Building...")

<div class="panel panel-default">
    <div class="panel-heading">New Notifications</div>
    <div class="panel-body">
        <div class="panel-group" id="accordion">
            @for(i <- 1 to 3) {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">
                                #@i. @title</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" style="height : 0 px ;">
                        <div class="panel-body">
                        @content
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
