@(loginForm: Form[Application.Login])

<!DOCTYPE html>

<html>
    <head>
        <title>Master's Thesis Management System</title>
            <!-- CSS -->
        <link href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")" rel="stylesheet" media="screen">
        <link href="@routes.Assets.at("assets/css/style.css")" rel="stylesheet">
            <!-- JS -->
        <script src="@routes.Assets.at("javascripts/jquery-2.1.3.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")"></script>
            <!-- Icon -->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
            <!--[if IE 9]-->
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <!--[end if]-->
        <style type="text/css">
        html,
        body{
        margin: 0;
        padding: 0;
        height: 100%;
        }
        #container{
        min-height: 100%;
        position: relative;
        }
        #header{
        }
        #body{
        padding-bottom: 100px; /* Height of the footer */
        }
        #footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px; /* Height of the footer */
        }
        </style>
    </head>

    <body>
        <div id="container">
            <div id="head">
            </div>
            <div id="body">
                <div id="container-fluid">
                    <div class="container-fluid" style="color: #EEEEEE; margin-bottom: 50px">
                        <div class="row">
                            <div class="col-md-12" style="font-family: Arial, Helvetica, sans-serif;
                            background: #3572B0;
                            display: block;
                            overflow: hidden;
                            letter-spacing: 0.5px;
                            font-size: 14px;
                            line-height: 20px;
                            color: #ffffff;
                            ">
                                <span><b>University of Engineering and Technology</b></span>
                            </div>
                        </div>

                        <style type="text/css">
                        .agency-gird{
                        vertical-align: middle;
                        margin: 3px 2px 1px 1px;
                        padding: 0;
                        display: inline-block;
                        width: 34px;
                        height: 34px;
                        }
                        </style>
                        <div class="row" style="background: #205081; color: #EEEEEE;">
                            <div class="col-md-12" style="height: 42px;">
                                <div class="pull-right" style="margin-right: 30px;">
                                    <span style="padding-right: 8px; vertical-align: text-top; font-size: 12px;">
                                        SE Team Member</span>
                                    <img class="agency-gird" alt="ser" title="ser" src="@routes.Assets.at("assets/images/SER1.jpg")"/>
                                    <img class="agency-gird" alt="ser" title="ser" src="@routes.Assets.at("assets/images/SER2.jpg")"/>
                                    <img class="agency-gird" alt="ser" title="ser" src="@routes.Assets.at("assets/images/SER3.jpg")"/>
                                    <img class="agency-gird" alt="ser" title="ser" src="@routes.Assets.at("assets/images/SER4.jpg")"/>
                                    <img class="agency-gird" alt="ser" title="ser" src="@routes.Assets.at("assets/images/SER5.jpg")"/>
                                    <img class="agency-gird" alt="ser" title="ser" src="@routes.Assets.at("assets/images/SER6.jpg")"/>
                                    <img class="agency-gird" alt="ser" title="ser" src="@routes.Assets.at("assets/images/SER7.jpg")"/>
                                </div>
                            </div>
                        </div>

                        <style type="text/css">
                        .headertext{
                        margin: 0;
                        margin-left: 5px;
                        padding: 0;
                        font-family: Times New Roman, serif;
                        font-size: 49px;
                        text-shadow: 2px 2px gray;
                        font-weight: bold;
                        line-height: 120%;
                        display: inline-block;
                        }
                        .headertext::first-letter{
                        font-family: Courier, monospace;
                        font-size: 70px;
                        }
                        </style>
                        <div class="row" style="display: block; height: 100px; background: #3572B0; border-top: 1px solid #3572B0; border-bottom: 1px solid #3572B0;">
                            <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-1 col-sx-12">
                                <div style="margin-top: 15px; height: 80px; width: 850px ;">
                                    <span class="headertext">
                                        Master's Thesis Management System
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row ">
                            <div class="col-md-6 col-sm-10 col-xs-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">New Notifications</div>
                                    <div class="panel-body">
                                        <div class="panel-group" id="accordion">
                                        @for(i <- 1 to 3) {
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">
                                                            #@i. Notifications
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne" class="panel-collapse collapse" style="height: 0px;">
                                                    <div class="panel-body">
                                                        <span>SE Team: Bùi Minh Phong - Lục Văn Minh - Nguyễn Đức Sơn
                                                            Trương Thị Hồng Nhung - Trần Thị Hồng Thủy
                                                            Kiều Văn Thái - Nguyễn Văn Thịnh</span>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-offset-1 col-sm-10 col-xs-12">
                            @helper.form(helper.CSRF(routes.Application.authenticate)) {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong>Sign In</strong>
                                    </div>
                                    <div class="panel-body">
                                        <form role="form">
                                            <br>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-envelope"></i>
                                                </span>
                                                <input type="email" name ="email"
                                                class="form-control" placeholder="Email"
                                                value="@loginForm("email").value">
                                            </div>
                                            <div class="form-group input-group">
                                                <span class="input-group-addon">
                                                    <i class="glyphicon glyphicon-lock"></i>
                                                </span>
                                                <input type="password" name="password"
                                                class="form-control" placeholder="Password">
                                            </div>
                                            <div class="form-group">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox">Remember
                                                </label>
                                                <span class="pull-right">
                                                    <a href="#">Forgot your password?</a>
                                                </span>
                                            </div>
                                            <button class="btn btn-primary" type="submit">Sign In</button>
                                            <hr>
                                            Login problems&nbsp
                                            <a href="@routes.Application.listAccount()" target="_blank">Click here</a>
                                        </form>
                                    </div>
                                </div>
                            }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer">
                <footer class="container-fluid">
                    <div class="row" style="height: 100px; background: #3572B0; border-top: 2px solid #3572B0;">
                        <div class="col-md-4 col-md-offset-4" style="margin-top: 30px; font-size: 12px; text-align: center; color: white">
                            © 2015 Master's Thesis Management System – All Rights Reserved<br>
                            Developed By SE Team - Software Engineering
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>

</html>