@()

<h1>List Accounts</h1>

<table border="1px" width="500px">
    <tr>
        <th>Email</th>
        <th>Password</th>
        <th>Permission</th>
    </tr>

    <tr>
        <td>giaovu@@vnu.edu.vn</td>
        <td>uet2015</td>
        <td>Administrator</td>
    </tr>

    <tr>
        <td>phongbm.it@@gmail.com</td>
        <td>phong2015</td>
        <td>User</td>
    </tr>

    <tr>
        <td>hongnhung.tester@@gmail.com</td>
        <td>nhung2015</td>
        <td>User</td>
    </tr>

</table>