@()

<h1>List Accounts</h1>

<!-- Administrator -->
<table border="1px" width="500px">
    <tr>
        <th>Email</th>
        <th>Password</th>
        <th>Permission</th>
    </tr>

    <tr>
        <td>giaovu@@vnu.edu.vn</td>
        <td>uet2015</td>
        <td>Administrator</td>
    </tr>

</table>

<!-- Faculty -->
<br>
<table border="1px" width="500px">
    <tr>
        <th>Email</th>
        <th>Password</th>
        <th>Permission</th>
    </tr>
    <tr>
        <td>chauttm@@vnu.edu.vn</td>
        <td>chauttm2015</td>
        <td>Faculty</td>
    </tr>
    <tr>
        <td>phuonghd@@vnu.edu.vn</td>
        <td>phuonghd2015</td>
        <td>Faculty</td>
    </tr>
    <tr>
        <td>hanv@@vnu.edu.vn</td>
        <td>hanv2015</td>
        <td>Faculty</td>
    </tr>
</table>

<!-- MastersStudent -->
<br>
<table border="1xp" width="500xp">
    <tr>
        <th>Email</th>
        <th>Password</th>
        <th>Permission</th>
    </tr>
    <tr>
        <td>phongbm.it@@gmail.com</td>
        <td>phong2015</td>
        <td>MastersStudent</td>
    </tr>
    <tr>
        <td>hongnhung.tester@@gmail.com</td>
        <td>nhung2015</td>
        <td>MastersStudent</td>
    </tr>
    <tr>
        <td>thinhnv.58@@gmail.com</td>
        <td>thinh2015</td>
        <td>MastersStudent</td>
    </tr>
    <tr>
        <td>thaikv_58@@vnu.edu.vn</td>
        <td>thai2015</td>
        <td>MastersStudent</td>
    </tr>
    <tr>
        <td>hongthuy277uet@@gmail.com</td>
        <td>thuy2015</td>
        <td>MastersStudent</td>
    </tr>
    <tr>
        <td>luk.minh@@gmail.com</td>
        <td>minh2015</td>
        <td>MastersStudent</td>
    </tr>
    <tr>
        <td>sonnd_57@@gmail.com</td>
        <td>son2015</td>
        <td>MastersStudent</td>
    </tr>
</table>