@()

@import models.UserAccount; var userAccount = new UserAccount();

<script src="@routes.Assets.at("bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>

<body class="skin-blue">
    <header class="header">
        <a href="@routes.Application.home()" class="logo navbar-fixed-top">UET-VNU</a>
        <nav class="navbar navbar-static-top navbar-fixed-top" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="@routes.Faculties.list(0, "id", "asc", "")">Giảng Viên</a></li>
                <li><a href="@routes.MastersStudents.list(0, "id", "asc", "")">Học Viên</a></li>
                <li><a href="@routes.MastersThesises.list(0)">Luận Văn</a> </li>
                <li><a href="">Liên Hệ</a></li>
            </ul>

            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope"></i>
                            <span class="label label-success">0</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">Tin nhắn</li>
                            <li>
                                <ul class="menu">
                                </ul>
                            </li>
                            <li class="footer"><a href="#">Xem tất cả</a></li>
                        </ul>
                    </li>

                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-warning"></i>
                            <span class="label label-warning">0</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">Thông báo</li>
                            <li>
                                <ul class="menu">
                                </ul>
                            </li>
                            <li class="footer"><a href="#">Xem tất cả</a></li>
                        </ul>
                    </li>

                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-tasks"></i>
                            <span class="label label-danger">0</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">Công việc</li>
                            <li>
                                <ul class="menu">
                                </ul>
                            </li>
                            <li class="footer"><a href="#">Xem tất cả</a></li>
                        </ul>
                    </li>

                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i>
                            <span>Tài Khoản <i class="caret"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header bg-light-blue">
                                <img src="@routes.Assets.at("images/placeholder-avatar.png")" class="img-circle"/>
                                <p>
                                    @session().get("email")
                                    @if(Faculty.findByEmail(session().get("email")) != null){
                                        <small>GIẢNG VIÊN</small>
                                    } else {
                                        @if(MastersStudent.findByEmail(session().get("email")) != null) {
                                            <small>HỌC VIÊN</small>
                                        } else {
                                            <small>Administrator</small>
                                        }
                                    }
                                </p>
                            </li>

                            <li class="user-body">
                                @if(Faculty.findByEmail(session().get("email")) != null) {
                                    <div class="col-xs-6" style="padding: 0px;">
                                        <i class="glyphicon glyphicon-user"></i>
                                        <a href="@routes.Faculties.info(Faculty.findByEmail(session().get("email")))">
                                            Xem hồ sơ</a><br>
                                        <i class="glyphicon glyphicon-edit"></i>
                                        <a href="@routes.Faculties.details(Faculty.findByEmail(session().get("email")))">
                                            Sửa hồ sơ</a>
                                    </div>
                                    <div class="col-xs-6" style="padding: 0px;">
                                        <i class="glyphicon glyphicon-cog"></i>
                                        <a href="@routes.Passwords.changePassword()">
                                            Đổi mật khẩu</a>
                                    </div>
                                } else {
                                    @if(MastersStudent.findByEmail(session().get("email")) != null) {
                                        <div class="col-xs-6" style="padding: 0px;">
                                            <i class="glyphicon glyphicon-user"></i>
                                            <a href="@routes.MastersStudents.info(MastersStudent.findByEmail(session().get("email")))">
                                                Xem hồ sơ</a><br>
                                            <i class="glyphicon glyphicon-edit"></i>
                                            <a href="@routes.MastersStudents.details(MastersStudent.findByEmail(session().get("email")))">
                                                Sửa hồ sơ</a>
                                        </div>
                                        <div class="col-xs-6" style="padding: 0px;">
                                            <i class="glyphicon glyphicon-cog"></i>
                                            <a href="@routes.Passwords.changePassword()">
                                                Đổi mật khẩu</a><br>
                                            @if(MastersStudent.findByEmail(session().get("email")).mastersThesis != null) {
                                                <i class="glyphicon glyphicon-edit"></i>
                                                <a href="@routes.MastersThesises.details(MastersStudent.findByEmail(session().get("email")).mastersThesis)">
                                                    Sửa luận văn</a>
                                            }
                                        </div>

                                    }
                                }
                            </li>

                            <li class="user-footer">
                                <div class="pull-left">
                                </div>
                                <div class="pull-right">
                                    <a href="@routes.Application.logout()" class="btn btn-default btn-flat">
                                        Đăng Xuất</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

</body>